.btnContainer {
	display: flex;
	position: relative;
	animation: fromBottom 0.5s ease forwards;
}

.button {
	display: inline-block;
	font-weight: 700;
	position: relative;
	letter-spacing: 1px;
	padding: 18px 30px;
	background: transparent;
}

.button:before {
	content: '';
	position: absolute;
	height: 150%;
	width: 100%;
	top: -25%;
	left: 0;
	border-left: 4px solid theme('colors.persian-red');
	border-right: 4px solid theme('colors.blue-cola');
	transition: all 0.4s;
}

.button:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	top: 0;
	left: -10%;
	border-top: 4px solid theme('colors.persian-red');
	border-bottom: 4px solid theme('colors.blue-cola');
	transition: all 0.4s;
}

.button:hover:before {
	transform: rotateY(180deg);
}

.button:hover:after {
	transform: rotateX(180deg);
}

.skill {
	border-bottom: 4px solid theme('colors.wenge');
	display: flex;
	position: relative;
	margin-bottom: 20px;
}

.skill:nth-child(1)::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 65%;
	border-bottom: 4px solid theme('colors.persian-red');
}

.skill:nth-child(2)::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 40%;
	border-bottom: 4px solid theme('colors.blue-cola');
}

.skill:nth-child(3)::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 70%;
	border-bottom: 4px solid theme('colors.orange');
}

.skill:nth-child(4)::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 70%;
	border-bottom: 4px solid theme('colors.ocean-blue');
}

.skill:nth-child(5)::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 40%;
	border-bottom: 4px solid theme('colors.green');
}

.skill:nth-child(6)::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 50%;
	border-bottom: 4px solid theme('colors.lavender-rose');
}

.experienceContainer {
	opacity: 0;
	animation: fadeIn 2s ease forwards;
}

.skillsContainer {
	opacity: 0;
	animation: fromRight 0.5s ease forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
