.container {
	opacity: 0;
	animation: fadeIn 2s ease forwards;
}

.btnContainer {
	display: flex;
	justify-content: center;
}

.button {
	font-weight: 700;
	position: relative;
	letter-spacing: 1px;
	padding: 18px 30px;
	background: transparent;
}

.button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 50%;
	left: -1%;
	top: -5px;
	background-color: theme('colors.persian-red');
	transform: skewX(30deg);
	z-index: -1;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button:hover:before {
	transform: skewX(0);
	left: 50%;
	top: 0;
}

.button:after {
	content: '';
	position: absolute;
	height: 100%;
	width: 50%;
	left: 51%;
	top: 5px;
	background-color: theme('colors.blue-cola');
	transform: skewX(30deg);
	z-index: -1;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button:hover:after {
	transform: skewX(0);
	left: 0;
	top: 0;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
