@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	font-family: monospace;
}

@layer base {
	body {
		@apply bg-[#2f3542] text-[#ffffff] tracking-wide;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-6xl;
	}

	h2 {
		@apply text-3xl sm:text-4xl;
	}

	li {
		@apply cursor-pointer;
	}
}

.home {
	background-image: url('../public/images/home1_bg.jpg');
	width: 100%;
	height: 100svh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.about {
	width: 100%;
	height: 100svh;
}

.skills {
	background-image: url('../public/images/skills_bg.jpg');
	width: 100%;
	height: 100svh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.projects {
	width: 100%;
	height: 100svh;
}

.project {
	background-image: url('../public/images/projects3_bg.jpg');
	width: 100%;
	height: 100svh;
	background-size: contain;
	background-position: center;
}

.contact {
	background-image: url('../public/images/contact_bg.jpg');
	width: 100%;
	height: 100svh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@media screen and (max-width: 767px) {
	.projects {
		height: 100%;
	}
}
